{% extends "base/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>home page</h1>
    {% if user.is_authenticated %}
    <h2>{{user.username}}</h2>
    
    <form action="{% url "logout" %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">logout</button>
    </form>
    {% else %}
        <div class="container mt-5">
            <a href="{% url "login" %}" class="btn btn-primary">Login</a> | <a href="{% url "signup" %}" class="btn btn-primary">Signup</a>
        </div>
    {% endif %}
    
 

{% endblock content %}